<template>
  <q-dialog
    v-model="dialog"
    persistent
    :maximized="maximizedToggle"
    transition-show="slide-up"
    transition-hide="slide-down"
    @before-hide="destroyCroppie"
  >
    <q-card>
      <q-bar>
        <q-space />
        <q-btn
          dense
          flat
          icon="minimize"
          @click="maximizedToggle = false"
          :disable="!maximizedToggle"
        />
        <q-btn
          dense
          flat
          icon="crop_square"
          @click="maximizedToggle = true"
          :disable="maximizedToggle"
        />
        <q-btn dense flat icon="close" v-close-popup />
      </q-bar>

      <q-card-section class="row img-container">
        <q-card class="col avatar__preview">
          <q-item>
            <q-avatar class="shadow-2">
              <img ref="roundPreview" src="" alt="avatar preview" />
            </q-avatar>

            <q-item-section class="q-pa-md">
              <q-item-label>
                <q-skeleton type="text" />
              </q-item-label>
              <q-item-label caption>
                <q-skeleton type="text" />
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-card-section>
            <img
              ref="fullPreview"
              src=""
              alt="avatar preview"
              class="shadow-2 avatar__preview-full"
            />
          </q-card-section>

          <q-card-actions align="center" class="q-gutter-md">
            <q-btn
              color="indigo"
              outline
              :label="$t('buttons.cancel')"
              v-close-popup
            />
            <q-btn
              color="indigo"
              glossy
              :label="$t('buttons.submit')"
              @click="result"
            />
          </q-card-actions>
        </q-card>
        <div ref="demo" class="col-6"></div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "VueCroppie",
  props: {
    file: null,
    options: {
      type: Object,
      default: function() {
        return {
          viewport: {
            width: 300,
            height: 250
          },
          boundary: {
            width: 500,
            height: 500
          },
          showZoomer: true,
          enableOrientation: false
        };
      }
    }
  },
  data() {
    return {
      croppieInstance: null,
      srcImg: null,
      fullPreview: null,
      roundPreview: null,
      crop: null,
      maximizedToggle: true,
      dialog: false,
      imgURL: null
    };
  },
  methods: {
    destroyCroppie() {
      this.croppieInstance.destroy();
    },
    updateFiles(file) {
      if (file) {
        this.imgURL = file;
        this.dialog = true;
      }
    },
    init() {
      if (this.srcImg && typeof window !== "undefined") {
        import("croppie").then(Croppie => {
          const C = Croppie.default;
          this.croppieInstance = new C(this.srcImg, this.options);
          this.croppieInstance.bind({
            url: URL.createObjectURL(this.imgURL)
          });
          this.srcImg.addEventListener("update", () => {
            this.croppieInstance.result("blob").then(blob => {
              let imageUrl = URL.createObjectURL(blob);
              this.fullPreview.src = this.roundPreview.src = imageUrl;
            });
          });
        });
      }
    },
    result() {
      return this.croppieInstance.result({ type: "base64" }).then(output => {
        this.$emit("result", output);
        this.dialog = false;
        return output;
      });
    }
  },
  updated() {
    this.srcImg = this.$refs.demo;
    this.fullPreview = this.$refs.fullPreview;
    this.roundPreview = this.$refs.roundPreview;
    this.init();
  },
  watch: {
    file: function(val) {
      this.updateFiles(val);
    }
  }
};
</script>
<style lang="stylus">
@import '~croppie/croppie.css';
.img-container
  max-width 1200px
  margin 0 auto
  .avatar__preview
    max-width: 330px
    margin: 0 auto
[dir="rtl"]
.croppie-container
  .avatar__preview-full
    width 300
    max-width 100%
    height 250px
  .cr-image
    left 0
    top 0
    right unset !important
</style>
