<template>
  <q-page padding>
    <q-btn
      :label="$t('links.home')"
      icon="arrow_forward"
      outline
      color="amber"
      :to="{name: 'home'}"
    />
    <q-form
      id="login"
      autofocus
      v-stream:submit="{ subject: signIn$, data: loginData }"
      @submit="e => e.preventDefault()"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      class="PA__login-form"
    >
      <q-card class="bg-grey-4">
        <q-card-section class="text-center">
          <img
            alt="Quasar logo"
            src="~assets/picasso.png"
            width="250px"
            height="100px"
          >
        </q-card-section>
        <q-card-section class="q-gutter-xs">
          <q-input
            required
            outlined
            bottom-slots
            v-model="phone"
            :label="$t('labels.phone') + '*'"
            mask="#### ### ###"
            input-class="PA__phone"
            @input="resetInput"
            :error="!!isPhoneValid$"
            :error-message="isPhoneValid$"
            :rules="[val => !!val || $t('errors.required')]"
          >
            <template v-slot:prepend>
              <q-icon name="phone_iphone"/>
            </template>
          </q-input>
          <q-input
            v-model="password"
            type="password"
            :label="$t('labels.password')"
            outlined
            square
            required
            @input="resetInput"
            :error="!!isPasswordValid"
            :error-message="isPasswordValid"
            bottom-slots
            :rules="[val => !!val || $t('errors.required')]"
          >
            <template v-slot:prepend>
              <q-icon name="lock" color="icon-color"/>
            </template>
          </q-input>
          <q-checkbox
            v-model="rememberMe"
            :label="$t('labels.rememberMe')"
            :aria-label="$t('labels.rememberMe')"
            role="checkbox"
            color="amber"
            :aria-checked="rememberMe ? 'true' : 'false'"
            @keyup.native.space="toggleRememberMe"
            :tabindex="0"
          />
          <input type="hidden" name="csrf_token" :value="getCsrfToken"/>
        </q-card-section>
        <q-card-actions class="block text-center">
          <q-btn
            padding="none xl"
            class="PA__btn"
            form="login"
            type="submit"
            :loading="loading$"
            :label="$t('buttons.signIn')"
            text-color="grey-9"
            push
            icon="account_circle"
            :disable="isSubmitDisabled"
          >
            <template v-slot:loading>
              <q-spinner-hourglass/>
            </template>
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-form>
  </q-page>
</template>

<script>
import login from "src/app/domain/auth/login";

export default {
  name: "Login",
  mixins: [login]
};
</script>

<style lang="stylus">
@import "../../css/auth.styl"
</style>
