<template>
<q-page padding>
  <dashboard-header />
  <section class="row">
    <profile-aside @currentTab="tab = $event" :user="user$" :is-s="false">
      <template slot="avatar">
        <profile-avatar :is-student="true"/>
      </template>
    </profile-aside>
    <profile-main :tab="tab" :is-student="true">
      <template slot="student-board">
        <h5 class="text-grey-7">مواعيد دفع و إستحقاق الأقساط</h5>
        <q-stepper
          v-model="stepper"
          ref="stepper"
          alternative-labels
          done-color="green"
          error-color="red"
          animated
          class="full-width text-center bg-transparent"
          flat
        >
          <q-step
            :name="1"
            title="2020/12/30"
            caption="تم الدفع"
            :done="true"
          />

          <q-step
            :name="2"
            title="2020/12/30"
            caption="لم يتم الدفع"
            icon="alarm"
            :done="false"
            :error="true"
          />

          <q-step
            :name="3"
            title="2020/12/30"
            caption="في إنتظار الدفع"
            icon="alarm"
            :done="false"
          />

          <q-step
            :name="4"
            title="2020/12/30"
            caption="في إنتظار الدفع"
            icon="alarm"
            :done="false"
          />
        </q-stepper>
        <section class="full-width text-center flex text-grey-3 q-gutter-sm PA__student-cards q-mt-lg">
          <div class="col">
            <q-knob
              disable
              v-model="value"
              show-value
              size="120px"
              :thickness="0.22"
              center-color="grey-10"
              color="amber-8"
              track-color="grey-3"
            />
            <h6 class="text-grey-7"> معدل التقييم اليومي</h6>
          </div>

          <div class="col">
            <q-knob
              disable
              v-model="value"
              show-value
              size="120px"
              :thickness="0.22"
              center-color="grey-10"
              color="amber-8"
              track-color="grey-3"
            />
            <h6 class="text-grey-7"> معدل نتائج الإمتحانات</h6>
          </div>

          <div class="col">
            <q-knob
              disable
              v-model="value"
              show-value
              size="120px"
              :thickness="0.22"
              center-color="grey-10"
              color="amber-8"
              track-color="grey-3"
            />
            <h6 class="text-grey-7"> عدد أيام الحضور</h6>
          </div>

          <div class="col">
            <q-knob
              disable
              v-model="value"
              show-value
              size="120px"
              :thickness="0.22"
              center-color="grey-10"
              color="amber-8"
              track-color="grey-3"
            />
            <h6 class="text-grey-7"> عدد أيام الغياب</h6>
          </div>
        </section>

        <section
          class="row full-width q-gutter-x-sm q-mt-xl"
          style="height: 150px">

          <q-card class="col bg-grey-9 text-amber slide" bordered>
            <q-card-section>
              <div class="text-h6">الدورات</div>
              <span class="text-subtitle2">الدورات الخاصة بك</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">2</span>
                <q-icon
                  name="cast_for_education"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
            <q-btn :label="$t('buttons.show')" class="show q-mt-xl" outline padding="md xl" />
          </q-card>
          <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
            <q-card-section>
              <div class="text-h6">خطط الدورات</div>
              <span class="text-subtitle2">المواضيع المتعلقة بالدورات الخاصة بك</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">52</span>
                <q-icon
                  name="menu_book"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
          </q-card>
          <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
            <q-card-section>
              <div class="text-h6">الإمتحانات</div>
              <span class="text-subtitle2">الإمتحانات الخاصة بك و مواعيدها</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">1</span>
                <q-icon
                  name="rule_folder"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
          </q-card>
          <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
            <q-card-section>
              <div class="text-h6">مركز الملفات</div>
              <span class="text-subtitle2">ملفات الدورات و الشعب</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">1</span>
                <q-icon
                  name="cloud_download"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
          </q-card>

        </section>
        <section
          class="row full-width q-gutter-x-sm q-mt-md"
          style="height: 150px">

          <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
            <q-card-section>
              <div class="text-h6">الشكاوى و الإقتراحات</div>
              <span class="text-subtitle2">تقديم شكوى أو مقترح لإدارة الأكاديمية</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">2</span>
                <q-icon
                  name="cast_for_education"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
          </q-card>
          <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
            <q-card-section>
              <div class="text-h6">صندوق الرسائل</div>
              <span class="text-subtitle2">الرسائل المرسلة من المدرب الخاص بك</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">5</span>
                <q-icon
                  name="mail"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
          </q-card>
          <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
            <q-card-section>
              <div class="text-h6">الإنذارات و التنبيهات</div>
              <span class="text-subtitle2">إنذارات و تنبيهات الإدارة</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">1</span>
                <q-icon
                  name="report"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
          </q-card>
          <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
            <q-card-section>
              <div class="text-h6">دفع الأقساط</div>
              <span class="text-subtitle2">مواعيد الأقساط المستحقة و قيمها</span>
              <q-separator dark spaced="2" />
              <div class="flex justify-between q-mt-md">
                <span class="text-h3">1</span>
                <q-icon
                  name="payment"
                  class="text-amber float-right"
                  style="font-size: 3rem;"
                />
              </div>
            </q-card-section>
          </q-card>

        </section>
      </template>
    </profile-main>
  </section>
</q-page>
</template>

<script>
import DashboardHeader from "components/partials/DashboardHeader";
import ProfileAside from "components/student/ProfileAside";
import ProfileAvatar from "components/student/ProfileAvatar";
import ProfileMain from "components/student/ProfileMain";
import app from "src/app/services/app";
export default {
  name: "Me",
  components: { DashboardHeader, ProfileAside, ProfileAvatar, ProfileMain },
  meta () {
    return {
      title: app.titleTemplate(this.$t('headers.studentDashboard')),
      // meta tags
      meta: {
        name: { name: 'robots', content: 'noindex,nofollow' }
      }
    }
  },
  subscriptions() {
    return {
      user$: this.$store.getters['auth/getUser$']
    }
  },
  data() {
    return {
      tab: '',
      stepper: null,
      value: 78
    }
  }
};
</script>
<style lang="stylus">
@import "../../css/student.styl"
</style>
