<template>
  <q-page padding>
    <q-breadcrumbs active-color="deep-orange">
      <q-breadcrumbs-el
        icon="dashboard"
        :label="$t('headers.employeeDashboard')"
        :to="{ name: 'employeeDashboard' }"
      />
      <q-breadcrumbs-el
        icon="groups"
        :label="$t('headers.manageStudents')"
        :to="{ name: 'employeeManageStudents' }"
      />
      <q-breadcrumbs-el :label="$t('buttons.addNewStudent')"/>
    </q-breadcrumbs>
    <q-stepper
      v-model="step$"
      alternative-labels
      ref="stepper"
      done-color="green"
      active-color="amber"
      header-class="bg-grey-9 text-amber"
      class="q-mt-lg text-bold"
      animated
    >
      <q-step
        :name="1"
        :title="$t('headers.registerFirstStep')"
        icon="hourglass_top"
        :done="step$ > 1"
      >
        <register-student-first-step
          v-model="student$"
          :loading$="loading$"
        />
      </q-step>

      <q-step
        :name="2"
        :title="$t('headers.registerSecondStep')"
        icon="hourglass_top"
        :done="step$ > 2"
        :disable="step$ < 2"
      >
        <register-student-second-step
          v-model="student$"
          :loading$="loading$"
        />
      </q-step>

      <template v-slot:navigation>
        <q-stepper-navigation class="text-center q-gutter-md">

          <q-btn
            v-if="step$ === 2"
            padding="md xl"
            flat
            :label="$t('buttons.back')"
            icon="arrow_forward_ios"
            @click="goBack"
          >
            <template v-slot:loading>
              <q-spinner-hourglass/>
            </template>
          </q-btn>
          <q-btn
            padding="none xl"
            class="PA__btn"
            :form="submitFor"
            type="submit"
            :loading="loading$"
            :label="getSignUpBtnLabel"
            push
            :icon="getSignUpBtnIcon"
            :disable="loading$"
          >
            <template v-slot:loading>
              <q-spinner-hourglass/>
            </template>
          </q-btn>
        </q-stepper-navigation>
      </template>
    </q-stepper>
  </q-page>
</template>

<script>
import RegisterStudentFirstStep from "components/auth/RegisterStudentFirstStep";
import studentSignUp from "src/app/domain/auth/studentSignUp";
import RegisterStudentSecondStep from "components/auth/RegisterStudentSecondStep";
import RegisterStudentThirdStep from "components/auth/RegisterStudentThirdStep";
import RegisterStudentLastStep from "components/auth/RegisterStudentLastStep";

export default {
  name: "StudentSignUp",
  components: { RegisterStudentFirstStep, RegisterStudentSecondStep },
  mixins: [studentSignUp]
};
</script>
<style lang="stylus">
@import "../../css/auth.styl";
</style>
