<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container class="PA__auth-container relative-position">
      <transition
        name="fade"
        mode="out-in"
        appear
      >
        <router-view />
      </transition>
    </q-page-container>
    <q-inner-loading :showing="pageLoad$" class="bg-grey">
      <q-spinner size="100px" color="amber" />
    </q-inner-loading>
    <q-footer class="PA__footer bg-grey-9 flex flex-center text-grey-3">
      <p class="q-gutter-x-md">
        <span>© 2020 أكاديمية بيكاسو</span>
        <span>الشروط و الأحكام</span>
        <span>سياسة الخصوصية</span>
        <span>من نحن؟</span>
        <span>إتصل بنا</span>
      </p>
    </q-footer>
  </q-layout>
</template>
<script>
export default {
  name: 'AuthLayout',
  subscriptions() {
    return {
      pageLoad$: this.$store.getters['app/getPageLoading$']
    }
  }
}
</script>
<style lang="stylus">
@import "../css/app.styl"
</style>
