<template>
  <q-layout view="lHh Lpr lFf">
    <dashboard-header>
      <template slot="menu">
        <section class="PA__header--nav text-grey-9">
          <q-tabs
            v-model="dashboardNav"
            align="justify"
            active-bg-color="grey-4"
            active-color="grey-9"
            class="shadow-2"
          >
            <q-route-tab
              :to="{ name: 'employeeDashboard' }"
              :ripple="{ color: 'grey' }"
              name="employeeDashboard"
              :label="$t('headers.employeeDashboard')"
              icon="dashboard"
            />
            <q-route-tab
              :to="{ name: 'employeeManageCourses' }"
              :ripple="{ color: 'grey' }"
              name="employeeManageCourses"
              :label="$t('headers.manageCourses')"
              icon="cast_for_education"
            />
            <q-route-tab
              :to="{ name: 'employeeManageStudents' }"
              :ripple="{ color: 'grey' }"
              name="employeeManageStudents"
              :label="$t('headers.manageStudents')"
              icon="groups"
            />
            <q-route-tab
              :to="{ name: 'employeeNotifications' }"
              :ripple="{ color: 'grey' }"
              name="employeeNotifications"
              :label="$t('headers.notifications')"
              icon="campaign"
            />
            <q-route-tab
              :to="{ name: 'employeeCertificates' }"
              :ripple="{ color: 'grey' }"
              name="employeeCertificates"
              :label="$t('headers.certificates')"
              icon="card_membership"
            />
            <q-route-tab
              :to="{ name: 'employeeExaminations' }"
              :ripple="{ color: 'grey' }"
              name="employeeExaminations"
              :label="$t('headers.examinations')"
              icon="rule"
            />
            <q-route-tab
              :to="{ name: 'employeeQualityOfTraining' }"
              :ripple="{ color: 'grey' }"
              name="employeeQualityOfTraining"
              :label="$t('headers.qualityOfTraining')"
              icon="local_police"
            />
            <q-route-tab
              :to="{ name: 'employeeInbox' }"
              :ripple="{ color: 'grey' }"
              name="employeeInbox"
              :label="$t('headers.inbox')"
              icon="move_to_inbox"
            />
          </q-tabs>
        </section>
      </template>
    </dashboard-header>
    <q-page-container class="PA__container">
      <transition
        name="fade"
        mode="out-in"
        appear
      >
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import DashboardHeader from "components/partials/DashboardHeader";
export default {
  name: "DashboardLayout",
  components: { DashboardHeader },
  data () {
    return {
      dashboardNav: null
    }
  }
};
</script>
<style lang="stylus">
@import "../css/app.styl"
</style>
