<template>
  <q-layout view="lHh Lpr lFf">
    <main-header />
    <q-page-container class="PA__container">
      <transition
        name="fade"
        mode="out-in"
        appear
      >
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>
<script>
import MainHeader from 'components/partials/MainHeader'
export default {
  name: 'MainLayout',
  components: { MainHeader }
}
</script>
<style lang="stylus">
@import "../css/app.styl"
</style>
