<template>
  <q-page padding>
    <q-breadcrumbs active-color="deep-orange" class="q-mt-sm q-mb-xl">
      <q-breadcrumbs-el
        icon="dashboard"
        :label="$t('headers.employeeDashboard')"
        :to="{ name: 'employeeDashboard' }"
      />
      <q-breadcrumbs-el
        icon="groups"
        :label="$t('headers.manageStudents')"
        :to="{ name: 'employeeManageStudents' }"
      />
      <q-breadcrumbs-el :label="$t('headers.studentProfile')"/>
    </q-breadcrumbs>
    <section class="row">
      <profile-aside
        v-if="student$"
        @currentTab="tab = $event"
        :is-s="true"
        :user="student$"
      >
        <template slot="avatar">
          <profile-avatar :is-student="false"/>
        </template>
      </profile-aside>
      <profile-main :is-student="true" :tab="tab">
        <template slot="student-board">
          <h5 class="text-grey-7">مواعيد دفع و إستحقاق الأقساط</h5>
          <q-stepper
            v-model="stepper"
            ref="stepper"
            alternative-labels
            done-color="green"
            error-color="red"
            animated
            class="full-width text-center bg-transparent"
            flat
          >
            <q-step
              :name="1"
              title="2020/12/30"
              caption="تم الدفع"
              :done="true"
            />

            <q-step
              :name="2"
              title="2020/12/30"
              caption="لم يتم الدفع"
              icon="alarm"
              :done="false"
              :error="true"
            />

            <q-step
              :name="3"
              title="2020/12/30"
              caption="في إنتظار الدفع"
              icon="alarm"
              :done="false"
            />

            <q-step
              :name="4"
              title="2020/12/30"
              caption="في إنتظار الدفع"
              icon="alarm"
              :done="false"
            />
          </q-stepper>
          <section class="full-width text-center flex text-grey-3 q-gutter-sm PA__student-cards q-mt-lg">
            <div class="col">
              <q-knob
                v-model="value"
                show-value
                size="120px"
                :thickness="0.22"
                center-color="grey-9"
                color="amber"
                track-color="grey-3"
              />
              <h6 class="text-grey-7"> معدل التقييم اليومي</h6>
            </div>

            <div class="col">
              <q-knob
                v-model="value"
                show-value
                size="120px"
                :thickness="0.22"
                center-color="grey-9"
                color="amber"
                track-color="grey-3"
              />
              <h6 class="text-grey-7"> معدل نتائج الإمتحانات</h6>
            </div>

            <div class="col">
              <q-knob
                v-model="value"
                show-value
                size="120px"
                :thickness="0.22"
                center-color="grey-9"
                color="amber"
                track-color="grey-3"
              />
              <h6 class="text-grey-7"> عدد أيام الحضور</h6>
            </div>

            <div class="col">
              <q-knob
                v-model="value"
                show-value
                size="120px"
                :thickness="0.22"
                center-color="grey-9"
                color="amber"
                track-color="grey-3"
              />
              <h6 class="text-grey-7"> عدد أيام الغياب</h6>
            </div>
          </section>

          <section
            class="row full-width q-gutter-x-sm q-mt-xl"
            style="height: 150px">

            <q-card class="col bg-grey-9 text-amber slide" bordered>
              <q-card-section>
                <div class="text-h6"> الدورات و الشعب</div>
                <span class="text-subtitle2">الدورات و الشعب الخاصة بالطالب</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">2</span>
                  <q-icon
                    name="local_library"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
              <q-btn :label="$t('buttons.show')" class="show q-mt-xl" outline padding="md xl"/>
            </q-card>
            <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
              <q-card-section>
                <div class="text-h6">معلومات الطالب</div>
                <span class="text-subtitle2">بيانات الطالب و الوثائق الخاصة به</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">5</span>
                  <q-icon
                    name="contacts"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
            </q-card>
            <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
              <q-card-section>
                <div class="text-h6">الغياب و الحضور</div>
                <span class="text-subtitle2"> التفاصيل الخاصة بحضور و غياب الطالب</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">1</span>
                  <q-icon
                    name="flaky"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
            </q-card>
            <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
              <q-card-section>
                <div class="text-h6">العلامات و التقييم</div>
                <span class="text-subtitle2">أجندة الإختبارات و علاماتها</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">1</span>
                  <q-icon
                    name="rule"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
            </q-card>

          </section>
          <section
            class="row full-width q-gutter-x-sm q-mt-md"
            style="height: 150px">

            <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
              <q-card-section>
                <div class="text-h6">الشكاوى و الإقتراحات</div>
                <span class="text-subtitle2">الشكاوى و الإقتراحات التي أرسلها الطالب</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">2</span>
                  <q-icon
                    name="campaign"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
            </q-card>
            <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
              <q-card-section>
                <div class="text-h6">الإتصالات و المتابعة</div>
                <span class="text-subtitle2">الإتصالات المجدولة لمتابعة الطالب</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">5</span>
                  <q-icon
                    name="support_agent"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
            </q-card>
            <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
              <q-card-section>
                <div class="text-h6">الملاحظات الإدارية</div>
                <span class="text-subtitle2">ملاحظات الإدارة و المدربين</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">1</span>
                  <q-icon
                    name="event_note"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
            </q-card>
            <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
              <q-card-section>
                <div class="text-h6">الأقساط و المستحقات المالية</div>
                <span class="text-subtitle2">تفاصيل الملف المالي للطالب</span>
                <q-separator dark spaced="2"/>
                <div class="flex justify-between q-mt-md">
                  <span class="text-h3">1</span>
                  <q-icon
                    name="payment"
                    class="text-amber float-right"
                    style="font-size: 3rem;"
                  />
                </div>
              </q-card-section>
            </q-card>

          </section>
        </template>
      </profile-main>
    </section>
    <q-inner-loading :showing="pageLoad$" class="bg-white">
      <q-spinner size="100px" color="amber"/>
    </q-inner-loading>
  </q-page>
</template>

<script>
import ProfileAside from "components/student/ProfileAside";
import ProfileAvatar from "components/student/ProfileAvatar";
import ProfileMain from "components/student/ProfileMain";
import student from "src/app/services/student";
import { concatMap } from "rxjs/operators";
import { iif, of } from "rxjs";
import { hidePageLoading, showPageLoading } from "src/app/services/operators";
import app from "src/app/services/app";

export default {
  name: "StudentProfile",
  meta () {
    return {
      title: app.titleTemplate(this.$t('headers.studentProfile')),
      // meta tags
      meta: {
        name: { name: 'robots', content: 'noindex,nofollow' }
      }
    }
  },
  components: { ProfileMain, ProfileAvatar, ProfileAside },
  props: ["code"],
  subscriptions () {
    return {
      pageLoad$: this.$store.getters["app/getPageLoading$"],
      student$: this.getStudent$()
    };
  },
  data () {
    return {
      tab: '',
      stepper: null,
      value: 78
    };
  },
  methods: {
    getStudent$ () {
      return this.$store.getters["student/getStudents$"].pipe(
        showPageLoading(),
        concatMap(students =>
          iif(
            () => students.length === 0,
            student.getStudentByCode$(this.code),
            of(students.filter(s => s.code === this.code)[0])
          )
        ),
        hidePageLoading()
      );
    }
  }
};
</script>
<style lang="stylus">
@import "../../css/student.styl"
</style>
