<template>
  <div id="q-app" class="bg-grey-1">
    <router-view />
  </div>
</template>
<script>
import { BehaviorSubject } from 'rxjs'
export default {
  name: 'App',
  beforeMount () {
    const { commit, dispatch, getters } = this.$store;
    commit('student/setSignUpStep$', new BehaviorSubject(1))
    dispatch("app/startTimer");
    this.$subscribeTo(getters["app/getNotify$"], name => {
      let payload = name;
      if (typeof name === "string") {
        payload = {
          name: name,
          options: {}
        };
      }
      return dispatch("app/notify", payload);
    });
    this.$subscribeTo(getters["app/getRoute$"], route => {
      if (Number.isInteger(route)) {
        return this.$router.go(route);
      }
      if (Object.entries(route).length) {
        this.$router.push(route);
      }
    });
  }
}
</script>
