<template>
  <q-form
    id="form3"
    autofocus
    v-stream:submit="{ subject: onChooseSection$, data: submitData }"
    @submit="e => e.preventDefault()"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
  >
    <q-card v-if="student$" class="row bg-transparent no-shadow">
      <q-card-section class="col q-gutter-md">
        <q-list bordered class="rounded-borders bg-grey-9 q-pa-sm" dense>
          <q-item>
            <q-item-section top class="col-2 justify-center">
              <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.course") }}:</q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <q-item-label class="text-subtitle1">
                <span class="text-bold text-grey-3">{{ student$.course.name }}</span>
              </q-item-label>
            </q-item-section>


            <q-item-section top class="justify-center">
              <q-item-label class="text-subtitle1 text-bold text-grey-3 text-separator">{{
                  $t("labels.price")
                }}:
              </q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <q-item-label>
                <i class="text-grey-3 text-caption">{{ $t("labels.currency") }}
                  <em class="text-subtitle1 text-amber-6">{{ getCoursePrice(student$.course) }}</em>
                </i>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-separator :spaced="true" color="grey-7"/>
          <q-item>
            <q-item-section top class="col-2 justify-center">
              <q-item-label class="text-subtitle1 text-bold text-grey-3">{{
                  $t("labels.discountPercentage")
                }}:
              </q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <q-item-label class="text-subtitle1">
                <span class="text-bold text-grey-3">{{ student$.course.discountPercentage }}%</span>
              </q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <q-item-label class="text-subtitle1 q-gutter-x-xs">
                <span class="text-bold text-grey-3">{{ $t("labels.discountPrice") }}: </span>
              </q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <i class="text-grey-3 text-caption">{{ $t("labels.currency") }}
                <em class="text-subtitle1 text-amber-6">{{ computePrice(student$.course) }}</em>
              </i>
            </q-item-section>
          </q-item>
          <q-separator :spaced="true" color="grey-7"/>
          <q-item>
            <q-item-section top class="col-2 justify-center">
              <q-item-label class="text-subtitle1 text-bold text-grey-3">{{
                  $t("labels.numberOfInstallments")
                }}:
              </q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <q-item-label class="text-subtitle1">
                <span class="text-bold text-grey-3">{{ student$.course.numberOfInstallments }}</span>
              </q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <q-item-label class="text-subtitle1">
                <span class="text-bold text-grey-3">{{ $t("labels.installmentPrice") }}: </span>
              </q-item-label>
            </q-item-section>
            <q-item-section top class="justify-center">
              <i class="text-grey-3 text-caption">{{ $t("labels.currency") }}
                <em class="text-subtitle1 text-amber-6">{{ computeInstallmentPrice(student$.course) }}</em>
              </i>
            </q-item-section>
          </q-item>

        </q-list>
      </q-card-section>
      <q-card-section class="col q-gutter-md">
        <section class="row">
          <q-select
            class="col q-mr-sm"
            outlined
            required
            :label="$t('labels.sectionName') + '*'"
            v-model="student$.section"
            :options="sections$"
            option-value="name"
            option-label="name"
            map-options
            :dense="false"
            :options-dense="false"
            bottom-slots
            :rules="[val => !!val || $t('errors.required')]"
          >
            <template v-slot:prepend>
              <q-icon name="school"/>
            </template>
          </q-select>
          <q-input
            class="col"
            outlined
            :suffix="$t('labels.currency')"
            bottom-slots
            v-model="section.firstInstallmentAmount"
            :label="$t('labels.firstInstallmentAmount')"
            :rules="[
            val => !!val || $t('errors.required'),
            val => Number.isInteger(Number(val)) || $t('errors.price'),
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="payments"/>
            </template>
          </q-input>
        </section>
        <section class="row">
          <q-input
            class="col q-mr-sm"
            v-model="section.startDate"
            outlined
            bottom-slots
            mask="date"
            :rules="[
            'date',
            val => new Date(val) > new Date() || $t('errors.dateInFuture')
          ]"
            :label="$t('labels.startDate')"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDataProxy" transition-show="scale" transition-hide="scale">
                  <q-date
                    v-model="section.startDate"
                    @input="() => $refs.qDataProxy.hide()"
                    color="amber-6"
                    text-color="grey-9"
                    class="bg-grey-9 text-grey-3"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-input
            class="col"
            v-model="section.endDate"
            outlined
            bottom-slots
            mask="date"
            :rules="[
            'date',
            val => new Date(val) > new Date() || $t('errors.dateInFuture')
          ]"
            :label="$t('labels.endDate')"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date
                    v-model="section.endDate"
                    @input="() => $refs.qDateProxy.hide()"
                    color="amber-6"
                    text-color="grey-9"
                    class="bg-grey-9 text-grey-3"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </section>
      </q-card-section>
    </q-card>
  </q-form>
</template>

<script>
import registerStudentThirdStep from "src/app/domain/auth/registerStudentThirdStep";
import registerStudentHelper from "src/app/domain/auth/registerStudentHelper";

export default {
  name: "RegisterStudentThirdStep",
  mixins: [registerStudentThirdStep, registerStudentHelper]
};
</script>
