<template>
  <div class="q-pa-md q-gutter-sm">
    <q-list bordered class="rounded-borders bg-grey-9 q-pa-sm">
      <q-item>
        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.fullName") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label>
            <em class="text-subtitle1 text-bold text-amber-6">{{ student$.name }}</em>
          </q-item-label>
        </q-item-section>

        <q-item-section top class="col-2 justify-between">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.username") }}:</q-item-label>
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.password") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-between">
          <q-item-label>
            <em class="text-subtitle1 text-bold text-amber-6">{{ student$.phone }}</em>
          </q-item-label>
          <q-item-label>
            <em class="text-subtitle1 text-bold text-amber-6">{{ student$.password }}</em>
          </q-item-label>
        </q-item-section>

      </q-item>
      <q-separator :spaced="true" color="grey-7"/>
      <q-item>
        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.address") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.address }}</span>
          </q-item-label>
        </q-item-section>

        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.course") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.courses[0].name }}</span>
          </q-item-label>
        </q-item-section>

      </q-item>
      <q-item>
        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.phone") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.phone }}</span>
          </q-item-label>
        </q-item-section>

        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.section") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.sections[0].name }}</span>
          </q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.qualification") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.qualification }}</span>
          </q-item-label>
        </q-item-section>

        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.startDate") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.sections[0].startDate }}</span>
          </q-item-label>
        </q-item-section>

      </q-item>
      <q-item>
        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.studentCode") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.code }}</span>
          </q-item-label>
        </q-item-section>

        <q-item-section top class="col-2 justify-center">
          <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.endDate") }}:</q-item-label>
        </q-item-section>
        <q-item-section top class="justify-center">
          <q-item-label class="text-subtitle1">
            <span class="text-bold text-grey-3">{{ student$.sections[0].endDate }}</span>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  <q-dialog :value="modal" @input="val => $emit('input', val)" transition-show="fadeIn" transition-hide="fadeOut">
    <q-card class="full-width">
      <section id="doc2">
        <q-card-section horizontal>
<!--          <img
            alt="Quasar logo"
            src="~assets/picasso.png"
            class="q-pa-xs q-mr-xl"
            width="250px"
            height="100px"
          >-->
        </q-card-section>

        <q-card-section>
          <section class="col">
            <h6>الإسم الكامل: <span>{{ student$.name }}</span></h6>
            <h6>العنوان: <span>{{ student$.address }}</span></h6>
            <h6>رقم الهاتف: <span>{{ student$.phone }}</span></h6>
          </section>

          <section class="col">
            <h6>إسم الدورة: <span>{{ student$.course }}</span></h6>
            <h6>إسم الشعبة: <span>{{ student$.section }}</span></h6>
          </section>
        </q-card-section>

        <q-card-section>
          <p>أكاديمية بيكاسو &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (000) - 000-0000</p>
        </q-card-section>
      </section>
      <q-card-actions align="right">
        <q-btn flat :label="$t('labels.cancel')" color="red" v-close-popup />
        <q-btn outline :label="$t('labels.print')" color="grey-9" v-close-popup @click="print"/>
      </q-card-actions>

    </q-card><!--// doc -->
  </q-dialog>
  </div>
</template>

<script>
export default {
  name: "RegisterStudentLastStep",
  model: {
    prop: 'modal',
    event: 'input'
  },
  props: {
    student$: {
      type: Object,
      required: true
    },
    modal: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    print () {
      const modal = document.getElementById("doc2")
      const cloned = modal.cloneNode(true)
      let section = document.getElementById("print")

      if (!section) {
        section  = document.createElement("div")
        section.id = "print"
        document.body.appendChild(section)
      }

      section.innerHTML = "";
      section.appendChild(cloned);
      window.print();
    }
  }
};
</script>

<style>
@page {
  size: auto;
  margin: 0;
  }
@media screen {
#print {
  display: none;
  }
}

@media print {
#Header, #Footer { display: none ! important; }
body * {
  visibility:hidden;
  }
#print, #print * {
  visibility:visible;
  width: 100%;
  }
#print {
  position:absolute;
  width: 100% !important;
  left:20px;
  top:150px;
  }
}


</style>
