<template>
  <q-form
    id="form1"
    autofocus
    v-stream:submit="{ subject: signUp$, data: submitData }"
    @submit="e => e.preventDefault()"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
    class="PA__auth-form"
  >
    <q-card class="bg-transparent no-shadow">
      <q-card-section class="q-gutter-md">
        <section class="row">
          <q-input
            class="col"
            required
            outlined
            bottom-slots
            v-model.trim="student$.name"
            :label="$t('labels.fullName') + '*'"
            :error="!!isNameValid$"
            :error-message="isNameValid$"
          >
            <template v-slot:prepend>
              <q-icon name="person" />
            </template>
          </q-input>
          <q-space class="q-pa-xs" />
          <q-input
            class="col"
            required
            outlined
            bottom-slots
            v-model="student$.phone"
            :label="$t('labels.phone') + '*'"
            mask="#### ### ###"
            input-class="PA__phone"
            :error="!!isPhoneValid$"
            :error-message="isPhoneValid$"
            :rules="[val => !!val || $t('errors.required')]"
          >
            <template v-slot:prepend>
              <q-icon name="phone_iphone" />
            </template>
          </q-input>
        </section>
        <q-input
          required
          outlined
          bottom-slots
          v-model.trim="student$.address"
          :label="$t('labels.address') + '*'"
          :rules="[val => !!val || $t('errors.required')]"
        >
          <template v-slot:prepend>
            <q-icon name="place" />
          </template>
        </q-input>
        <section class="row">
          <q-input
            class="col"
            outlined
            bottom-slots
            v-model="student$.idNumber"
            :label="$t('labels.idNumber')"
          >
            <template v-slot:prepend>
              <q-icon name="contact_page" />
            </template>
          </q-input>
          <q-space class="q-pa-xs" />
          <q-input
            class="col"
            outlined
            bottom-slots
            v-model="student$.cardId"
            :label="$t('labels.cardId')"
          >
            <template v-slot:prepend>
              <q-icon name="contacts" />
            </template>
          </q-input>
        </section>
        <section class="row">
          <q-select
            class="col"
            outlined
            required
            :label="$t('labels.qualification') + '*'"
            v-model="student$.qualification"
            :options="options"
            :dense="false"
            :options-dense="false"
            bottom-slots
            :rules="[val => !!val || $t('errors.required')]"
          >
            <template v-slot:prepend>
              <q-icon name="school" />
            </template>
          </q-select>
          <q-space class="q-pa-xs" />
          <q-input
            class="col"
            required
            outlined
            bottom-slots
            v-model="student$.recordNumber"
            :label="$t('labels.recordNumber') + '*'"
            mask="#### - #### - #### - ####"
            placeholder="0000 - 0000 - 0000 - 0000"
            :rules="[val => !!val && val.length === 25 || $t('errors.recordNumber')]"
          >
            <template v-slot:prepend>
              <q-icon name="edit" />
            </template>
          </q-input>
        </section>

      </q-card-section>
    </q-card>
  </q-form>
</template>

<script>
import registerStudentFirstStep from "src/app/domain/auth/registerStudentFirstStep";
import registerStudentHelper from "src/app/domain/auth/registerStudentHelper";
export default {
  name: "RegisterStudentFirstStep",
  mixins: [registerStudentFirstStep, registerStudentHelper]
};
</script>
