<template>
  <q-form
    id="form2"
    autofocus
    v-stream:submit="{ subject: onSubmitClient$, data: submitData }"
    @submit="e => e.preventDefault()"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
  >
    <q-card class="row bg-transparent no-shadow">
      <q-card-section class="col q-gutter-md">
        <q-select
          class="col"
          outlined
          required
          :label="$t('labels.courseName') + '*'"
          v-model="course"
          :options="courses$"
          option-value="name"
          option-label="name"
          map-options
          :dense="false"
          :options-dense="false"
          bottom-slots
          :rules="[val => !!val || $t('errors.required')]"
        >
          <template v-slot:prepend>
            <q-icon name="school"/>
          </template>
        </q-select>
        <q-expansion-item
          v-model="courseDetails"
          header-class="expanded-header hidden"
        >
          <q-list bordered class="rounded-borders bg-grey-9 q-pa-sm" v-if="course" dense>
            <q-item>
              <q-item-section top class="col-2 justify-center">
                <q-item-label class="text-subtitle1 text-bold text-grey-3 text-separator">{{ $t("labels.price") }}:</q-item-label>
              </q-item-section>
              <q-item-section top class="PA__auth-form--course-details justify-center">
                <q-item-label>
                  <i class="text-grey-3 text-caption">{{ $t("labels.currency") }}
                    <em class="text-subtitle1 text-amber-6">{{ getCoursePrice(course) }}</em>
                  </i>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-separator :spaced="true" color="grey-7"/>
            <q-item>
              <q-item-section top class="col-2 justify-center">
                <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.discountPercentage") }}:</q-item-label>
              </q-item-section>
              <q-item-section top class="PA__auth-form--course-details justify-center">
                <q-item-label class="text-subtitle1">
                  <span class="text-bold text-grey-3">{{ course.discountPercentage }}%</span>
                </q-item-label>
              </q-item-section>
              <q-item-section top class="justify-center">
                <q-item-label class="text-subtitle1 q-gutter-x-xs">
                  <span class="text-bold text-grey-3">{{ $t("labels.discountPrice") }}: </span>
                </q-item-label>
              </q-item-section>
              <q-item-section top class="justify-center">
                <i class="text-grey-3 text-caption">{{ $t("labels.currency") }}
                  <em class="text-subtitle1 text-amber-6">{{ computePrice(course) }}</em>
                </i>
              </q-item-section>
            </q-item>
            <q-separator :spaced="true" color="grey-7"/>
            <q-item>
              <q-item-section top class="col-2 justify-center">
                <q-item-label class="text-subtitle1 text-bold text-grey-3">{{ $t("labels.numberOfInstallments") }}:</q-item-label>
              </q-item-section>
              <q-item-section top class="PA__auth-form--course-details justify-center">
                <q-item-label class="text-subtitle1">
                  <span class="text-bold text-grey-3">{{ course.numberOfInstallments }}</span>
                </q-item-label>
              </q-item-section>
              <q-item-section top class="justify-center">
                <q-item-label class="text-subtitle1">
                  <span class="text-bold text-grey-3">{{ $t("labels.installmentPrice") }}: </span>
                </q-item-label>
              </q-item-section>
              <q-item-section top class="justify-center">
                <i class="text-grey-3 text-caption">{{ $t("labels.currency") }}
                  <em class="text-subtitle1 text-amber-6">{{ computeInstallmentPrice(course) }}</em>
                </i>
              </q-item-section>
            </q-item>

          </q-list>
        </q-expansion-item>
      </q-card-section>
      <q-card-section class="col q-gutter-md">
        <q-input
          outlined
          :suffix="$t('labels.currency')"
          bottom-slots
          v-model.number="student$.registerFees"
          :label="$t('labels.registerFees')"
          :rules="[
            val => !!val || $t('errors.required'),
            val => Number.isInteger(Number(val)) || $t('errors.price'),
            ]"
        >
          <template v-slot:prepend>
            <q-icon name="payments" />
          </template>
        </q-input>
        <q-input
          v-model="student$.proceduresDate"
          outlined
          bottom-slots
          mask="date"
          :rules="[
            'date',
            val => new Date(val) > new Date() || $t('errors.dateInFuture')
          ]"
          :label="$t('labels.proceduresDate')"
        >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date
                  v-model="student$.proceduresDate"
                  @input="() => $refs.qDateProxy.hide()"
                  color="amber-6"
                  text-color="grey-9"
                  class="bg-grey-9 text-grey-3"
                  :locale="locals"
                />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>

        <q-select
          class="col"
          outlined
          required
          :label="$t('labels.employeeInCharge') + '*'"
          v-model="student$.employeeInCharge"
          :options="employees$"
          option-value="name"
          option-label="name"
          map-options
          :dense="false"
          :options-dense="false"
          bottom-slots
          :rules="[val => !!val || $t('errors.required')]"
        >
          <template v-slot:prepend>
            <q-icon name="support_agent"/>
          </template>
        </q-select>
      </q-card-section>
    </q-card>
    <q-inner-loading :showing="pageLoading$">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </q-form>
</template>

<script>
import registerStudentSecondStep from "src/app/domain/auth/registerStudentSecondStep";
import registerStudentHelper from "src/app/domain/auth/registerStudentHelper";

export default {
  name: "RegisterStudentSecondStep",
  mixins: [registerStudentSecondStep, registerStudentHelper]
};
</script>
