<template>
  <div class="fullscreen bg-grey-7 text-amber text-center q-pa-md flex flex-center">
    <div>
      <div style="font-size: 30vh">
        404
      </div>

      <div class="text-h2" style="opacity:.4">
        Oops. Nothing here...
      </div>

      <q-btn
        class="q-mt-xl"
        outline
        color="amber"
        text-color="grey_9"
        unelevated
        to="/"
        :label="$t('links.home')"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
