.fade-enter-active
  transition all .6s ease
.fade-leave-active
  transition all .4s ease-in-out
.fade-enter
.fade-leave-to
  opacity 0
  transform translateY(-7px)

.flip-enter-active
  transition all .3s ease
.flip-leave-active
  transition all .2s ease-in-out
.flip-enter
.flip-leave-to
  opacity 0
  transform rotateY(90deg);

.list-enter-active,
.list-leave-active,
.list-move
  transition: .5
  transition-property: opacity, transform
.list-enter
.list-leave-to
  opacity: 0;
  transform: translateX(50px) scaleY(0.5)
.list-enter-to
  opacity: 1;
  transform: translateX(0) scaleY(1)
.list-leave-to
  opacity 0
  transform translateY(10px)

.chapters-move
  transition transform 0.3s ease-out
.chapters-enter-active
  transition all .5s ease
.chapters-leave-active
  position absolute
.chapters-enter
.chapters-leave-to
  opacity 0
  transform translateY(10px)
