@import "animation.styl"
h1
h2
h3
h4
h5
h6
  margin 0
.PA
  &__phone
    direction rtl
    text-align left
  &__container
  &__auth-container
    max-width $container-width
    margin auto
  &__container
    padding-top 120px !important
  &__btn
    background $gradient !important
    height 50px
  &__footer
    height 65px
.bg-PA__btn
  background $gradient !important
  color white
th
  background-color #424242 !important
  font-size 1em !important
  color #ffc939
  box-shadow 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12)
  .q-checkbox__bg
    color #ffc939
