.PA
  &__auth-form
    max-width 650px
    margin auto
    &--course-details
      max-width 100px
  &__login-form
    max-width 400px
    margin 2em auto
.q-stepper__content
  min-height 400px
.q-stepper__tab--disabled
  .q-stepper__dot
    background-color #919393
  .q-stepper__label
    color #e1e1e3
