@import "quasar.variables.styl"
.PA
  &__main-header
    height 150px
  &__header
    height 90px
    &--nav
      margin auto
      z-index 100
      background $headerColor
  &__toolbar
    max-width $container-width
    margin auto
    padding 0
    &-input
      width 45%
      margin auto
      background gray
.q-tab__label
  font-size: 16px !important
  font-weight: 400 !important
