@import "app.styl"
tileSize = 400px

duration = .05s
.PA
  &__picture
    height 250px
    width 100%
    margin-bottom .2em
    img
      width 100% !important
      height 250px !important
    &--upload
      cursor pointer
      background white
      color red
      &:hover
        background ghostwhite
  &__student-cards
    cursor pointer
    &hover
      background-color red

  &__sidebar
    position sticky
    height 100vh
    top 120px

/* Slide effect */
.slide
  overflow: hidden
  > .show
    transition: duration*2 all ease-in
  > div
    transition: duration*2 all ease-in
    position: absolute
    width 100%
  > .show
    transform: translate(tileSize, 0)
    opacity 0
  &:hover
    > div
      transform: translate(-(tileSize), 0)
    > .show
      transform: translate(0, 0)
      opacity 1
