<template>
  <q-header
    reveal
    class="flex bg-grey-9 PA__header text-grey-4"
    :reveal-offset="20"
  >
    <q-toolbar class="PA__toolbar" >
      <q-btn
        flat
        dense
        round
        @click="leftDrawerOpen = !leftDrawerOpen"
        aria-label="Menu"
        icon="menu"
      />
      <q-space />
      <q-btn
        round
        dense
        flat
        color="text-grey-7"
        icon="mail"
      >
        <q-badge
          color="red"
          text-color="white"
          floating
        >
          1
        </q-badge>
        <q-tooltip>Mail</q-tooltip>
      </q-btn>
      <q-btn
        round
        dense
        flat
        color="text-grey-7"
        icon="forum"
      >
        <q-tooltip>Chat</q-tooltip>
      </q-btn>
      <q-btn
        round
        dense
        flat
        color="text-grey-7"
        icon="notifications"
      >
        <q-badge
          color="red"
          text-color="white"
          floating
        >
          2
        </q-badge>
        <q-tooltip>Notifications</q-tooltip>
      </q-btn>
      <q-btn
        round
        flat
      >
        <q-avatar size="26px">
          <q-icon name="account_circle" />
        </q-avatar>
        <q-tooltip>Account</q-tooltip>
      </q-btn>
    </q-toolbar>
    <slot name="menu" />
  </q-header>
</template>

<script>
export default {
  name: 'DashboardHeader',
  data () {
    return {
      leftDrawerOpen: false,
      dashboardNav: null,
      search: '',
      tab: 'tab1'
    }
  }
}
</script>

<style lang="stylus">
@import "../../css/header.styl"
</style>
