<template>
  <q-drawer
    v-model="leftDrawerOpen"
    bordered
    behavior="mobile"
    @click="leftDrawerOpen = false"
  >
    <q-scroll-area class="fit">
      <q-toolbar class="CM__toolbar">
        <q-toolbar-title class="row items-center text-grey-8">
          <img
            class="q-pl-md"
            src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg"
          >
          <span class="q-ml-sm">Photos</span>
        </q-toolbar-title>
      </q-toolbar>

      <q-list padding>
        <q-item
          v-for="link in links1"
          :key="link.text"
          clickable
          class="CM__drawer-item"
        >
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.text }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator class="q-my-md" />

        <q-item
          v-for="link in links2"
          :key="link.text"
          clickable
          class="CM__drawer-item"
        >
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.text }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator class="q-my-md" />

        <q-item
          v-for="link in links3"
          :key="link.text"
          clickable
          class="CM__drawer-item"
        >
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.text }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator class="q-my-md" />

        <q-item
          clickable
          class="CM__drawer-item CM__drawer-item--storage"
        >
          <q-item-section avatar>
            <q-icon name="cloud" />
          </q-item-section>
          <q-item-section top>
            <q-item-label>Storage</q-item-label>
            <q-linear-progress
              :value="storage"
              class="q-my-sm"
            />
            <q-item-label caption>
              2.6 GB of 15 GB
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>

<script>
export default {
  name: 'Drawer',

  data () {
    return {
      leftDrawerOpen: false,
      storage: 0.26,
      links1: [
        { icon: 'photo', text: 'Photos' },
        { icon: 'photo_album', text: 'Albums' },
        { icon: 'assistant', text: 'Assistant' },
        { icon: 'people', text: 'Sharing' },
        { icon: 'book', text: 'Photo books' }
      ],
      links2: [
        { icon: 'archive', text: 'Archive' },
        { icon: 'delete', text: 'Trash' }
      ],
      links3: [
        { icon: 'settings', text: 'Settings' },
        { icon: 'help', text: 'Help & Feedback' },
        { icon: 'get_app', text: 'App Downloads' }
      ],
      createMenu: [
        { icon: 'photo_album', text: 'Album' },
        { icon: 'people', text: 'Shared Album' },
        { icon: 'movie', text: 'Movie' },
        { icon: 'library_books', text: 'Animation' },
        { icon: 'dashboard', text: 'Collage' },
        { icon: 'book', text: 'Photo book' }
      ]
    }
  }
}
</script>

<style lang="stylus">
.CM
  &__drawer-item
    line-height: 24px
    border-radius: 0 24px 24px 0
    margin-right: 12px
  .q-item__section--avatar
    padding-left: 12px
    .q-icon
      color: #5f6368
  .q-item__label:not(.q-item__label--caption)
    color: #3c4043
    letter-spacing: .01785714em
    font-size: .875rem
    font-weight: 500
    line-height: 1.25rem
  &--storage
    border-radius: 0
    margin-right: 0
    padding-top: 24px
    padding-bottom: 24px
</style>
