<template>
  <q-inner-loading :showing="show">
    <h6>{{ $t("buttons.wait") }}</h6>
    <q-spinner-hourglass
      color="deep-orange"
      size="5em"
    />
  </q-inner-loading>
</template>

<script>
export default {
  name: 'LoadingComponent',
  props: {
    show: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style scoped></style>
