<template>
  <q-header elevated class="bg-grey-4 PA__main-header">
    <q-toolbar class="bg-grey-9 text-amber">
      <strong class="inline-block q-mr-md">
        <q-icon name="phone" size="xs"/>
        213 02 02 0225
      </strong>
      <strong>
        <q-icon name="alternate_email" size="xs"/>
        info@picasso.com
      </strong>
      <q-space />
      <div class="q-gutter-sm row items-center no-wrap">
      <q-btn flat round dense icon="img:icons/facebook.svg" size="sm"/>
      <q-btn flat round dense icon="img:icons/twitter.svg" size="sm"/>
      <q-btn flat round dense icon="img:icons/messenger.svg" size="sm"/>
      <q-btn flat round dense icon="img:icons/youtube.svg" size="sm"/>
      <q-btn flat round dense icon="img:icons/linkedin.svg" size="sm"/>
      </div>
    </q-toolbar>
    <q-toolbar class="PA__toolbar">

      <img
        alt="Quasar logo"
        src="~assets/picasso.png"
        width="250"
        height="100"
        class="q-pa-xs q-mr-xl"
      >

      <q-tabs
        v-model="tab"
        indicator-color="amber"
        active-bg-color="grey-3"
        align="left"
      >
        <q-tab name="tab1" label="الرئيسية" class="text-grey-10" />
        <q-tab name="tab2" label="الدورات" class="text-grey-10" />
        <q-tab name="tab3" label="شركاؤنا" class="text-grey-10" />
        <q-tab name="tab4" label="الأكاديمية" class="text-grey-10" />
        <q-tab name="tab5" label="إتصل بنا" class="text-grey-10" />
      </q-tabs>
      <q-space />
      <q-btn
        :label="$t('buttons.signIn')"
        icon="account_circle"
        class="PA__btn q-ma-sm"
        text-color="grey-9"
        :to="{name: 'login'}"
      />
<!--      <q-btn-dropdown
        :label="$t('buttons.signIn')"
        icon="lock"
        class="PA__btn q-ma-md"
      >
        <q-list>
          <q-item-label header>{{ $t('links.accounts') }}</q-item-label>
          <q-item clickable v-close-popup tabindex="0" :to="{name:'StudentSignUp'}">
            <q-item-section>
              <q-item-label>{{ $t('links.studentAccount') }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="how_to_reg" />
            </q-item-section>
          </q-item>
          <q-item clickable v-close-popup tabindex="0">
            <q-item-section>
              <q-item-label>{{ $t('links.instructorAccount') }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-icon name="cast_for_education" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>-->
    </q-toolbar>
  </q-header>
</template>

<script>
export default {
  name: 'MainHeader',
  data () {
    return {
      leftDrawerOpen: false,
      search: '',
      tab: 'tab1'
    }
  }
}
</script>

<style lang="stylus">
@import "../../css/header.styl"
</style>
