<template>
  <q-uploader
    ref="uploader"
    :label="$t('labels.uploadVideo')"
    :factory="uploadFactory"
    :filter="checkFileSize"
    multiple
    max-files="1"
    auto-upload
    accept="video/mp4,video/x-m4v,video/*"
    color="grey-9"
    text-color="grey-3"
    class="full-width shadow-3 bg-grey-3 CM__uploader q-mt-sm"
    :hide-upload-btn="true"
    :flat="isEdit"
  >
    <template v-slot:list="scope">
      <section
        v-if="scope.files.length === 0"
        class="CM__uploader-drag text-center"
      >
        <em class="text-subtitle1 text-dark block">{{ $t("labels.videoDrag") }}</em>
        <strong class="text-dark block">{{ $t("labels.or") }}</strong>
        <q-btn
          dark-percentage
          unelevated
          color="deep-orange-9"
          text-color="white"
          @click="scope.pickFiles()"
          icon="cloud_upload"
          class="full-width q-ma-md"
        />
      </section>
      <q-list
        separator
        class="q-mt-xl"
      >
        <q-item
          v-for="file in scope.files"
          :key="file.name"
        >
          <q-item-section>
            <q-item-label class="full-width ellipsis text-orange">
              {{ file.name }}
            </q-item-label>

            <q-item-label caption>
              {{ $t("labels.status") }} : {{ $t(`labels.${file.__status}`) }}
            </q-item-label>
          </q-item-section>

          <q-item-section
            v-if="file.__img"
            thumbnail
            class="gt-xs"
          />
          <q-knob
            show-value
            readonly
            font-size="16px"
            class="text-red"
            :class="{ 'text-teal': file.__progress === 1}"
            :value="file.__progress*100"
            size="100px"
            :thickness="0.1"
            :color="file.__progress < 1 ? 'red' : 'teal'"
            track-color="red-2"
          >
            <q-icon
              :name="file.__progress < 1 ? 'cloud_upload' : 'cloud_done'"
              class="q-mr-xs"
            />
            {{ file.__progressLabel }}
          </q-knob>
        </q-item>
      </q-list>
    </template>
  </q-uploader>
</template>

<script>
export default {
  name: 'Uploader',
  data () {
    return {
      isEdit: false
    }
  },
  methods: {
    uploadFactory () {
      return true
    },
    checkFileSize (files) {
      return files.filter(file => file.size < 204000000008)
    }
  }
}
</script>

<style scoped>

</style>
