<template>
  <q-page padding>
    <q-breadcrumbs active-color="deep-orange" class="q-mt-sm q-mb-xl">
      <q-breadcrumbs-el
        icon="dashboard"
        :label="$t('headers.employeeDashboard')"
        :to="{ name: 'employeeDashboard' }"
      />
      <q-breadcrumbs-el :label="$t('headers.manageStudents')"/>
    </q-breadcrumbs>
    <q-table
      :data="students$"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination$"
      :loading="loading$"
      :filter="filter"
      @request="onRequest"
      binary-state-sort
      :rows-per-page-options="[5, 10, 20, 30, 40, 50]"
      selection="multiple"
      :selected.sync="selected"
      :visible-columns="visibleColumns"
      class="bg-grey-3"
    >
      <template v-slot:top-left>
        <transition name="fade" mode="out-in">
          <section v-if="selected.length > 0" class="q-gutter-x-sm">
            <q-btn
              round
              outline
              color="grey-8"
              icon="delete_sweep"
              v-stream:click="{
              subject: deleteStudent$,
              data: deleteStudents()
            }"
            >
              <q-tooltip>
                {{ $t("buttons.delete") }}
              </q-tooltip>
            </q-btn>
            <q-btn
              round
              outline
              color="deep-orange-8"
              icon="archive"
              v-stream:click="{
              subject: archiveStudent$,
              data: toggleArchiveOfStudents(false)
            }"
            >
              <q-tooltip>
                {{ $t("labels.archive") }}
              </q-tooltip>
            </q-btn>

            <q-btn
              round
              outline
              color="green-8"
              icon="unarchive"
              v-stream:click="{
              subject: archiveStudent$,
              data: toggleArchiveOfStudents(false)
            }"
            >
              <q-tooltip>
                {{ $t("labels.unarchive") }}
              </q-tooltip>
            </q-btn>
          </section>
          <q-btn-dropdown
            v-else
            class="glossy q-ml-lg text-grey-9"
            color="amber"
          >
            <template v-slot:label>
              <div class="row items-center no-wrap" style="min-width: 150px">
                <q-icon left name="groups" />
                <b>{{ currentList }}</b>
              </div>
            </template>
            <q-list>
              <q-item
                v-for="student in studentsList"
                :key="student.role"
                clickable
                v-close-popup
                :class="{'bg-grey-3 text-bold text-grey-9 shadow-up-2': student.label === currentList}"
                @click="onStudentsListClick(student)">
                <q-item-section>
                  <q-item-label>{{ student.label }}</q-item-label>
                  <q-item-label caption>عدد الطلاب: {{ student.count }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </transition>
      </template>
      <template v-slot:top-right>
        <q-input
          square
          dense
          debounce="600"
          standout="bg-grey-9 text-amber"
          v-model="filter"
          :placeholder="$t('labels.search')"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          color="amber"
          :disable="loading$"
          :label="$t('buttons.addNewStudent')"
          class="q-ma-md text-grey-9"
          icon="person_add"
          :to="{ name: 'employeeCreateStudent' }"
        />
      </template>
      <template v-slot:body-cell-picture="props">
        <q-td class="text-center">
          <student-thumb alt="thumb" :url="props.value" />
        </q-td>
      </template>

      <template v-slot:body-cell-name="props">
        <q-td class="text-center" style="max-width: 300px">
          <!--  try to use id as params and aliases the url-->
          <router-link
            target="_blank"
            class="text-bold text-grey-8"
            :to="{
            name: 'studentProfile',
            params: {
              code: props.value.code
            }
          }"
          >
            {{ props.value.name }}
          </router-link>
        </q-td>
      </template>

      <template v-slot:body-cell-numberOfInstallments="props">
        <q-td class="text-center">
          <strong class="text-bold text-green-5">
            {{ props.value[0]['numberOfInstallments'] }}
          </strong>
        </q-td>
      </template>

      <template v-slot:body-cell-published="props">
        <q-td class="text-center">
          <q-chip>
            <transition name="flip" mode="out-in">
              <q-avatar
                :key="props.value"
                :icon="props.value ? 'done' : 'restore_page'"
                :color="props.value ? 'green' : 'deep-orange-9'"
                text-color="white"
              />
            </transition>
            {{ props.value ? $t("labels.published") : $t("labels.draft") }}
          </q-chip>
        </q-td>
      </template>
      <template v-slot:body-cell-actions="props">
        <q-td class="text-right text-brown q-gutter-sm" style="font-size: 2em">

          <q-btn
            round
            dense
            color="grey-8"
            icon="edit"
          >
            <q-tooltip transition-show="scale" transition-hide="scale">
              {{ $t("buttons.edit") }}
            </q-tooltip>
          </q-btn>

          <q-btn
            round
            dense
            color="grey-8"
            icon="note_add"
          >
            <q-tooltip transition-show="scale" transition-hide="scale">
              {{ $t("buttons.edit") }}
            </q-tooltip>
          </q-btn>

          <transition name="flip" mode="out-in">
            <q-btn
              round
              dense
              :key="props.value.published"
              :icon="props.value.published ? 'archive' : 'unarchive'"
              :color="props.value.published ? 'deep-orange-9' : 'green'"
              v-stream:click="{
              subject: archiveStudent$,
              // data: {
              //   id: props.row.id,
              //   published: !props.value.published,
              //   relations: {
              //     seller: {
              //       id: props.row.relations.seller.id
              //     }
              //   }
              // }
            }"
              :disable="loading$"
            >
              <q-tooltip transition-show="scale" transition-hide="scale">
                {{
                  props.value.published
                    ? $t("labels.archive")
                    : $t("labels.publish")
                }}
              </q-tooltip>
            </q-btn>
          </transition>


          <q-btn
            round
            dense
            color="grey-8"
            icon="delete_forever"
            v-stream:click="{
            subject: deleteStudent$,
            data: {
              // id: props.row.id,
              // files: props.row.thumb.names,
              // relations: {
              //   seller: {
              //     id: props.row.relations.seller.id
              //   }
              // }
            }
          }"
            :disable="loading$"
          >
            <q-tooltip transition-show="scale" transition-hide="scale">
              {{ $t("buttons.delete") }}
            </q-tooltip>
          </q-btn>
        </q-td>
      </template>
      <template v-slot:loading>
        <q-inner-loading showing color="grey-9" />
      </template>
    </q-table>
  </q-page>

</template>

<script>
import employeeManageStudent from "src/app/domain/employee/employeeManageStudent";
import StudentThumb from "components/student/StudentThumb";

export default {
  name: "EmployeeManageStudents",
  components: { StudentThumb },
  mixins: [employeeManageStudent]
}
</script>
