<template>
  <q-page padding>
    <section class="row full-width q-gutter-x-sm">
      <q-card class="col-12 col-sm bg-grey-9 text-amber" bordered>
        <q-card-section>
          <div class="text-h6">عدد الطلاب</div>
          <span class="text-subtitle2">العدد الإجمالي للطلاب المسجلين في النظام</span>
          <q-separator dark spaced="2" />
          <span class="text-h3">32</span>
          <q-icon
            name="groups"
            class="text-amber float-right"
            style="font-size: 4rem;"
          />
        </q-card-section>
      </q-card>
      <q-card class="col-12 col-sm bg-grey-9 text-amber" bordered>
        <q-card-section>
          <div class="text-h6">عدد الغياب</div>
          <span class="text-subtitle2">العدد الإجمالي للطلاب المسجلين في قوائم الغياب</span>
          <q-separator dark spaced="2" />
          <section class="flex justify-between q-mt-sm">
            <span class="text-h3">32</span>
            <q-btn
              label="عرض"
              class="text-amber"
              outline
            />
          </section>
        </q-card-section>
      </q-card>

      <q-card class="col-12 col-sm bg-grey-9 text-amber" bordered>
        <q-card-section>
          <div class="text-h6">عدد الحضور لهذا اليوم</div>
          <span class="text-subtitle2">قائمة الطلبة الواجب حضورهم لهذا اليوم</span>
          <q-separator dark spaced="2" />
          <section class="flex justify-between q-mt-sm">
            <span class="text-h3">55</span>
            <q-btn
              label="عرض"
              class="text-amber"
              outline
            />
          </section>
        </q-card-section>
      </q-card>

      <q-card class="col-12 col-sm bg-grey-9 text-amber" bordered>
        <q-card-section>
          <div class="text-h6">عدد الغياب لهذا اليوم</div>
          <span class="text-subtitle2">قائمة الطلبة الذين تغيبوا عن الدوام لهذا اليوم</span>
          <q-separator dark spaced="2"/>
          <section class="flex justify-between q-mt-sm">
            <span class="text-h3">32</span>
            <q-btn
              label="عرض"
              class="text-amber"
              outline
            />
          </section>
        </q-card-section>
      </q-card>
    </section>
    <h1>EmployeeDashboard</h1>
  </q-page>
</template>

<script>
export default {
  name: "EmployeeDashboard"
};
</script>

<style scoped>

</style>
