<template>
  <q-page padding>
    <q-breadcrumbs active-color="deep-orange" class="q-mt-sm q-mb-xl">
      <q-breadcrumbs-el
        icon="dashboard"
        :label="$t('headers.employeeDashboard')"
        :to="{ name: 'employeeDashboard' }"
      />
      <q-breadcrumbs-el :label="$t('headers.notifications')"/>
    </q-breadcrumbs>
    <h1>employeeNotifications</h1>
  </q-page>

</template>

<script>
export default {
  name: "EmployeeNotifications"
};
</script>

<style scoped>

</style>
