<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Activate Your Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        @media screen {
            @font-face {
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
                }

            @font-face {
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 700;
                src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
                }
            }
        #send {
            display: inline-block;
            padding: 16px 36px;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #ffffff;
            background: blueviolet;
            text-decoration: none;
            border-radius: 6px
            }

    </style>

</head>
<body style="background-color: #e9ecef;">
<!--This snippet for testing propose-->
<pre>test={{ emailToken }}</pre>
<div class="preheader"
     style="display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;">
    A preheader is the short summary text that follows the subject line when an email is viewed in the inbox.
</div>
<h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">Activate Your
    Account</h1>
<p style="margin: 0;">Tap the button below to reset your customer account password. If you didn't request a new
    password, you can safely delete this email.</p>
<span id="send"> {{ emailToken }} </span>
<p style="margin: 0;">Cheers,<br> Paste</p>
<p style="margin: 0;">You received this email because we received a request for [type_of_action] for your account. If
    you didn't request [type_of_action] you can safely delete this email.</p>
<p style="margin: 0;">Paste 1234 S. Broadway St. City, State 12345</p>

</body>
</html>
