<template>
  <q-page class="flex flex-center q-pa-md q-gutter-md">
      <q-card class="my-card">
        <q-card-section class="bg-grey-8 text-white">
          <div class="text-h6">تسجيل الطالب</div>
          <div class="text-subtitle2">زر تسجيل الطالب يفترض وجوده في بوابة الموظف</div>
        </q-card-section>

        <q-card-actions vertical align="center">
          <q-btn flat :to="{name:'employeeCreateStudent'}">إذهب</q-btn>
        </q-card-actions>
      </q-card>
      <q-card class="my-card">
        <q-card-section class="bg-grey-8 text-white">
          <div class="text-h6">بوابة الطالب</div>
          <div class="text-subtitle2">زر بوابة الطالب يفترض وجوده في لوحة التحكم</div>
        </q-card-section>

        <q-card-actions vertical align="center">
          <q-btn flat>إذهب</q-btn>
        </q-card-actions>
      </q-card>
      <q-card class="my-card">
        <q-card-section class="bg-grey-8 text-white">
          <div class="text-h6">صفحة الطالب</div>
          <div class="text-subtitle2">هذا الزر هو نفسه الموجود في أعلى الصفحة</div>
        </q-card-section>

        <q-card-actions vertical align="center">
          <q-btn flat>إذهب</q-btn>
        </q-card-actions>
      </q-card>
  </q-page>
</template>
<script>
import app from "src/app/services/app";

export default {
  name: 'PageIndex',
  meta() {
    return {
      title: app.titleTemplate(this.$t('links.home')),
      // meta tags
      meta: {
        name: { name: "robots", content: "noindex,nofollow" }
      }
    };
  },
}
</script>
