<template>
  <aside class="col-3 PA__sidebar">
    <slot name="avatar" />
    <q-list bordered>
      <q-item class="justify-center">
        <h4 class="text-grey-9 q-mt-md"> {{ user.name }} </h4>
        <q-item-section side top>
          <q-badge color="grey-9" :label="$t(`labels.${user.role}`)" class="text-subtitle2 text-amber"/>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar top class="text-subtitle1 text-grey-9">الرقم</q-item-section>
        <q-item-section class="text-subtitle1 text-grey-9">{{ user.code }}</q-item-section>
        <q-item-section side>
          <q-icon color="amber-7" name="fiber_pin" />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar top class="text-subtitle1 text-grey-9">الهاتف</q-item-section>
        <q-item-section class="text-subtitle1 text-grey-9">{{ user.phone }}</q-item-section>
        <q-item-section side>
          <q-icon color="amber-7" name="phone" />
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar top class="text-subtitle1 text-grey-9">الدورة</q-item-section>
        <q-item-section class="text-subtitle1 text-grey-9">الدورة الأولى</q-item-section>
        <q-item-section side>
          <q-icon color="amber-7" name="cast_for_education" />
        </q-item-section>
      </q-item>
    </q-list>

    <q-expansion-item
      v-if="isS"
      class="shadow-1 overflow-hidden q-mt-md"
      style="border-radius: 30px"
      icon="pending_actions"
      label="الإجراءات"
      header-class="bg-grey-9 text-amber"
      expand-icon-class="text-amber"
    >
      <q-list bordered padding class="rounded-borders bg-grey-9 text-amber text-subtitle1">
        <q-item
          clickable
          v-ripple
          :active="link === 'inbox'"
          @click="link = 'inbox'"
          active-class="text-grey-9 bg-amber text-bold"
        >
          <q-item-section avatar>
            <q-icon name="domain_disabled" />
          </q-item-section>

          <q-item-section>فصل الطالب</q-item-section>
        </q-item>

        <q-item
          clickable
          v-ripple
          :active="link === 'outbox'"
          @click="link = 'outbox'"
          active-class="text-grey-9 bg-amber text-bold"
        >
          <q-item-section avatar>
            <q-icon name="follow_the_signs" />
          </q-item-section>

          <q-item-section>تحويل الطالب</q-item-section>
        </q-item>

        <q-item
          clickable
          v-ripple
          :active="link === 'trash'"
          @click="link = 'trash'"
          active-class="text-grey-9 bg-amber text-bold"
        >
          <q-item-section avatar>
            <q-icon name="pan_tool" />
          </q-item-section>

          <q-item-section>تعليق الدراسة</q-item-section>
        </q-item>

        <q-separator spaced />

        <q-item
          clickable
          v-ripple
          :active="link === 'settings'"
          @click="link = 'settings'"
          active-class="text-grey-9 bg-amber text-bold"
        >
          <q-item-section avatar>
            <q-icon name="report_problem" />
          </q-item-section>

          <q-item-section>أضف مخالفة</q-item-section>
        </q-item>

        <q-item
          clickable
          v-ripple
          :active="link === 'help'"
          @click="link = 'help'"
          active-class="text-grey-9 bg-amber text-bold"
        >
          <q-item-section avatar>
            <q-icon name="note_add" />
          </q-item-section>

          <q-item-section>أضف ملاحظة</q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
          :active="link === 'help'"
          @click="link = 'help'"
          active-class="text-grey-9 bg-amber text-bold"
        >
          <q-item-section avatar>
            <q-icon name="fingerprint" />
          </q-item-section>

          <q-item-section>تعديل البصمة</q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
          :active="link === 'help'"
          @click="link = 'help'"
          active-class="text-grey-9 bg-amber text-bold"
        >
          <q-item-section avatar>
            <q-icon name="card_membership" />
          </q-item-section>

          <q-item-section>الشهادة</q-item-section>
        </q-item>
      </q-list>
    </q-expansion-item>
  </aside>
</template>

<script>
export default {
  name: "ProfileAside",
  domStreams: ["submitProfile$"],
  subscriptions() {
    const { getters } = this.$store;
    return {
      loading: getters["app/getLoading$"]
    };
  },
  props: {
    user: {
      required: true,
      type: Object
    },
    isS: {
      required: true,
      type: Boolean
    }
  },
  data() {
    return {
      tab: "ProfileSettings",
      selected: 'Food',
      link: 'Food',
      simple: [
        {
          label: 'الإجراءات',
          children: [
            {
              label: 'Food',
              icon: 'restaurant_menu'
            },
            {
              label: 'Room service',
              icon: 'room_service'
            },
            {
              label: 'Room view',
              icon: 'photo'
            }
          ]
        }
        ]
    };
  },
  mounted() {

  },
  methods: {
    currentTab(value) {
      this.tab = value;
      this.$emit("currentTab", value);
    }
  },
  computed: {
    isAdmin() {
      return ['employee'].includes(this.user.role);
    }
  }
};
</script>
