<template>
  <section
    class="PA__picture q-avatar q-avatar__content--square relative-position"
  >
    <img
      src="~assets/avatar.png"
      alt="avatar"
      class="shadow-2 absolute-top-left"
      style="max-width: 100%; max-height: 100%"
    />
    <q-badge
      v-if="!isStudent"
      transparent
      floating
      class="shadow-up-3 PA__picture--upload"
      @click="pickFile"
    >
      <q-icon name="add_a_photo" size="md" color="grey-9" />
      <q-form @submit="onSubmit">
        <q-file
          ref="fileInput"
          max-files="1"
          name="poster_file"
          :value="file"
          @input="updateFiles"
          class="hidden"
        />
      </q-form>
    </q-badge>
    <vue-croppie
      v-if="!isStudent"
      :file="file"
      @result="handleResult"
    />
  </section>
</template>

<script>
const avatarType = ["image/png", "image/jpg", "image/gif"];
export default {
  name: "ProfileAvatar",
  subscriptions() {
    return {
      user: this.getUser$
    };
  },
  props: {
    isStudent: {
      required: true,
      type: Boolean
    }
  },
  data() {
    return {
      fileInput: {},
      imageData: null,
      file: null,
      cropper: false,
      imgURL: "",
      submitEmpty: false,
      submitResult: []
    };
  },

  methods: {
    handleResult(result) {
    },
    pickFile() {
      this.fileInput.pickFiles();
    },
    updateFiles(file) {
      if (file) {
        this.file = file;
        this.cropper = true;
      }
    },
    onSubmit(evt) {
      const formData = new FormData(evt.target);
      const submitResult = [];

      for (const [name, value] of formData.entries()) {
        if (value.name.length > 0) {
          submitResult.push({
            name,
            value: value.name
          });
        }
      }

      this.submitResult = submitResult;
      this.submitEmpty = submitResult.length === 0;
    },
    checkFileTypeAndSize(files) {
      return files.filter(file => avatarType.includes(file.type));
    }
  },
  mounted() {
    this.fileInput = this.$refs.fileInput;
  },
  computed: {
    getUser$() {
      return this.$store.getters["auth/getUser$"];
    }
  }
};
</script>
