<template>
  <main class="col full-width row q-gutter-x-sm text-center">
    <slot name="student-board" />
    <section class="row full-width q-gutter-x-sm" v-if="!isStudent">
      <q-card class="col bg-grey-9 text-amber cursor-pointer PA__students-card" bordered>
        <q-card-section>
          <div class="text-h6">عدد الطلاب</div>
          <span class="text-subtitle2">العدد الإجمالي للطلاب المسجلين في النظام</span>
          <q-separator dark spaced="2" />
          <span class="text-h3">32</span>
          <q-icon
            name="groups"
            class="text-amber float-right"
            style="font-size: 3rem;"
          />
        </q-card-section>
      </q-card>
      <q-card class="col-12 bg-grey-9 text-amber" bordered>
        <q-card-section>
          <div class="text-h6">عدد الغياب</div>
          <span class="text-subtitle2">العدد الإجمالي للطلاب المسجلين في قوائم الغياب</span>
          <q-separator dark spaced="2" />
          <section class="flex justify-between q-mt-sm">
            <span class="text-h3">32</span>
            <q-btn
              label="عرض"
              class="text-amber"
              outline
            />
          </section>
        </q-card-section>
      </q-card>

      <q-card class="col-12 bg-grey-9 text-amber" bordered>
        <q-card-section>
          <div class="text-h6">عدد الحضور لهذا اليوم</div>
          <span class="text-subtitle2">قائمة الطلبة الواجب حضورهم لهذا اليوم</span>
          <q-separator dark spaced="2" />
          <section class="flex justify-between q-mt-sm">
            <span class="text-h3">55</span>
            <q-btn
              label="عرض"
              class="text-amber"
              outline
            />
          </section>
        </q-card-section>
      </q-card>

      <q-card class="col-12 bg-grey-9 text-amber" bordered>
        <q-card-section>
          <div class="text-h6">عدد الغياب لهذا اليوم</div>
          <span class="text-subtitle2">قائمة الطلبة الذين تغيبوا عن الدوام لهذا اليوم</span>
          <q-separator dark spaced="2"/>
          <section class="flex justify-between q-mt-sm">
            <span class="text-h3">32</span>
            <q-btn
              label="عرض"
              class="text-amber"
              outline
            />
          </section>
        </q-card-section>
      </q-card>
    </section>
  </main>


</template>

<script>
export default {
  name: "ProfileMain",
  props: {
    tab: {
      type: String,
      required: true,
      default: "ProfileSettings"
    },
    isStudent: {
      required: true,
      type: Boolean
    }
  },
  data() {
    return {
      value: 77,
      stepper: null
    }
  }
};
</script>
