<template>
  <q-img
    src="~assets/avatar.png"
    :alt="alt"
    style="width: 100px"
    :ratio="1"
    class="rounded-borders shadow-up-1"
    native-context-menu
  >
    <template v-slot:error>
      <q-icon name="image_search" size="5em" color="grey" />
    </template>
  </q-img>
</template>
<script>
export default {
  name: "StudentThumb",
  props: {
    url: {
      type: String,
      required: true
    },
    alt: {
      type: String,
      required: true
    }
  }
};
</script>
